#remove html file extension https://pgalinanes.github.io/carweb/index.html
# to https://pgalinanes.github.io/carweb/
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
